---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 100
AccessModifierOffset: -2
DerivePointerAlignment: False
PointerAlignment: Middle
BreakBeforeBraces: Linux
AlignAfterOpenBracket: AlwaysBreak
ContinuationIndentWidth: 2
ReflowComments: false
...