---
Language: Cpp
Standard: Cpp11
BasedOnStyle: Google
AccessModifierOffset: -2
AlignAfterOpenBracket: AlwaysBreak
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  SplitEmptyRecord: true
  SplitEmptyFunction: true
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: false
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 100
ConstructorInitializerIndentWidth: 0
ContinuationIndentWidth: 2
DerivePointerAlignment: false
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 1
PointerAlignment: Middle
ReflowComments: false
AllowShortFunctionsOnASingleLine: None
BreakConstructorInitializers: BeforeColon
SpaceAfterTemplateKeyword: false
...
