---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 100
AccessModifierOffset: -2
DerivePointerAlignment: false
PointerAlignment: Middle
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterStruct: true
  AfterClass: true
  AfterNamespace: true
AlignAfterOpenBracket: AlwaysBreak
ContinuationIndentWidth: 2
ReflowComments: false
ConstructorInitializerIndentWidth: 0
...
